.jumbotron {
    color: rgb(255, 255, 255);
    background-image: url(techpics.jpg);
    background-size: cover;
}

.team-area {
    background-color: black;
    color: white;
    border-radius: 1rem;
}